*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
 /* height: 800px;*/
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  
}

.content {
  min-height: 534px;
  width: 1140px;
  display: flex;
  gap: 30px;
  margin: auto 30px;
}

.result {
  min-height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.search-form {
  display: flex;
  gap: 40px;
  min-height: 54px;

}
.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-container {
  height: 534px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 534px;
  gap: 26px;
}


ul,
ol {
  list-style: none;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 386px;

}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 24px;
  justify-content: flex-start;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 3px;
  display: block;

}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;

}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;

}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  gap: 2.5px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #000;
  color: #fff;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  width: 225px;
}


.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: #000;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:focus+.search-form__label-text {
  outline: none;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;

}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  border-radius: 0%;
  width: 194px;
  cursor: pointer;

}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  min-height: 34px;
}

.more-button {
  display: block;
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

